
body, html {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,46,81,1) 0%, rgba(0,64,96,1) 100%);
    background-image: url("./background_4695x2103.png");
    background-size: 100% 100%;
}

p {
    font-family: cursive, "Comic Sans MS", "Comic Sans";
}

@keyframes fade-in {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fade-out {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

#deathscreen {
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color: black;
}
#deathtext {
    border: 0px;
    margin: 0px;
    margin-bottom: 1em;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    color: red;
    text-align: center;
    font-size: 7em;
}
#deathbutton {
    all: unset;
    border: solid 0px darkred;
    margin: 0px;
    margin-top: 5em;
    padding: 0px;
    width: 20%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    color: darkred;
    text-align: center;
    text-decoration-line: underline;
    vertical-align: top;
    font-size: 2em;
}
#winscreen {
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: pink;
}
#wintext {
    border: 0px;
    margin: 0px;
    margin-bottom: 1em;
    padding: 0px;
    opacity: 0;
    visibility: hidden;
    color: white;
    text-align: center;
    font-size: 7em;
}
#winbutton {
    all: unset;
    border: solid 0px darkred;
    margin: 0px;
    margin-top: 5em;
    padding: 0px;
    width: 20%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    color: white;
    text-align: center;
    text-decoration-line: underline;
    vertical-align: top;
    font-size: 2em;
}

.apply-fade-in {
    animation-name: fade-in;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.apply-fade-out {
    animation-name: fade-out;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

